/* === Common styles== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* === HEADER MOBILE STYLES== */
.menu {
  display: none;
}
.menu-adress-item {
  display: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}

/* === /HEADER MOBILE STYLES== */
@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .menu {
    display: flex;
  }
  .menu-adress-item {
    display: flex;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
